/* Jean Carlos Castrillón - Cards.Developer*/
*{
    box-sizing: border-box;
    background-color: #5392ca;
}

.services-cards div{
    border: 5px solid #5392ca;
}

.row{
    display: flex;
    padding: 5em;
    flex-wrap: wrap;
    font-weight: 400;
    justify-content: space-around;
}

.column{
    flex: 10em;
    padding: 0 5em 5em 5em;
    
}

.services-cards{
    margin: 0;
    padding: 5em 1em 2em 2em;
    position: relative;
}

.Our-services{
    position: relative;
    top: 10%;
    left: 92px;
}

#title{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1em;
    font-weight: 700;
    text-align: left;    
}

.card-info{
    margin: 1.5em 0 0 0;
    position: relative;
    justify-content: 0;
    left: -12px;
}

.card{
    flex: 50%;
    margin: 0;
    flex-direction: column;
    display: flex;
    
}

.card .content{
    flex-grow: 1;
    flex-shrink: 1;
}

.content{
    position: relative;
    left: 0;
    right: 0;
}

.button{  
    border-radius: 12px;
    height: 44px;
    width: 140px;
    font-size: 13px;
    font-weight: 00;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color:#b7e3ff;
    color: #000000;
  }
  .button:hover{  
    background-color: #000000;
    color: #b7e3ff;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  

@media(max-width:1600px){
    .cards-container{
        flex: 50%;
    }
}

@media(max-width: 1200px) {
 .card{
    flex: 50%;
 }   
    
}

@media(max-width: 800px) {
    .cards-info{
       flex: 25%;
    }   
       
   }