/* Jose Meriño */
.contact {background-color:#2596be;
          font-family:  'Arial Narrow';
          margin: 0;
          padding: 0;
}

.row{
    display: flex;
    padding: 5em
}

*{
    box-sizing: border-box;
}

form {
    padding: 1.8em;
}

.column{
    flex: 50%;
    padding:0.3125em
}

#submit{
    margin-top: 1em; 
    margin-left: 27em;

}

#Message {
    margin-top:1em;

}  

#name, #E-mail, #Message {
    background-color: rgb(144, 173, 212) ;
    border-color: gray;
   
}

.row2{
    display: flex;
    padding: 0.625em
}


.column2{
    flex: 50%;
    padding:0.3125em
}

.retro{
  justify-content: left ;
}