
.testimony{
    height: 15em;
    background-color: rgba(74,156,212,255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    }
.parraf-testimony{
    padding-top: 3.5%;
    padding-left: 10%;
    padding-bottom: 10%;


}
.contenedor{
    position: relative;
    height: 10%;
    padding-top: 20%; 
}
.linea{
    position: absolute;
    left: 40%;
    transform: rotate(90deg);
    width: 14.8%;
    height: 1.4%;
    background-color: black;
    top: -30%;
}

.img-testimony{
    display: flex;
}
#computer{
    position: absolute;
    height: 25%;
    top: 60px;
    border: 3px solid black;
    right: 9px;
    border-radius: 5%;


}
















@media screen and (max-width: 767px) {
    .contenedor {
        height: 5%;
        padding-top: 10%;
    }
    
    .linea {
        left: 10%;
        transform: rotate(0);
        width: 80%;
        height: 1px;
        top: 40%;
      margin-top: 10px; /* Para centrar la línea verticalmente */
    }
}
@media screen and (max-width: 767px) {
    .testimony {
        height: auto;
    }
    
    .parraf-testimony {
        padding: 5%;
    }
}